if &background == "dark"
    hi normal guibg=black
endif
" List some decent fonts for different platforms
set guifont=Consolas:h14:cANSI
" set guifont=Consolas:h12:cANSI
" set guifont=Ubuntu\ Mono\ 12

colorscheme mustang
set guioptions-=T
set guioptions-=r
set guioptions-=l
set guioptions-=b

if exists('*HexHighlight()')
  " http://www.vim.org/scripts/script.php?script_id=2937
  nmap <leader>h :call HexHighlight()<Return>
endif


" seoul256: 
"   Range:   233 (darkest) ~ 239 (lightest) 
" let g:seoul256_background = 233 
" colo seoul256 

" seoul256-light: 
"   Range:   252 (darkest) ~ 256 (lightest) 
let g:seoul256_background = 256 
colo seoul256-light 
